<style>
div.fixedheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  border: 3px solid #DE3E791;
  background-color: #F5A0B8;
}

div.spacerheader {
	width: 100%;
    height: 10%;
    }

div.spacer2 {
	width:100%;
    height: 40px;
}

h1 {
	text-align: center;
	font-size: 100%;
	color: #DE3E79;
}

h2 {
	text-align: center;
	color: gray;
}
p {
	font-size: 14px;
}
</style>
